body {
  background-color: snow;
}

h1 {
  color: Darkslategray;
  text-align: center;
  font-family: Times;
  font-weight: bold;
}

p {
  color: Darkslategray;
  text-align: center;
  font-family: Times;
}

table {
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#mynotes {
  font-style: italic;
}

.titleimage {
  max-width: 100%;
  height: auto;
}
